<a href="https://colab.research.google.com/github/BaseraJhonDharen/PLNG211-QC/blob/main/FUNCTION_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Writing your own function/conversion
def convert_to_celcius(fahrenheit):
  return (fahrenheit-32) * 5/9

def convert_to_kelvin(fahrenheit):
  return((fahrenheit-32) *5/9) + 273.15
fahrenheit = int(input())

print("Celcuis",round(convert_to_celcius(fahrenheit),2))
print("Kelvin",round(convert_to_kelvin(fahrenheit),2))

100
Celcuis 37.78
Kelvin 310.93

In [8]:
def Name():
    pass

In [9]:
def my_function(fname):
 return(fname + "Sayo")

print(my_function("Mam"))
print(my_function("Maria"))
print(my_function("Rizette"))

MamSayo
MariaSayo
RizetteSayo

In [10]:
#return a value
def myFunction(x):
  return(5+x)
print(myFunction(4))
print(myFunction(5))
print(myFunction(6))

9
10
11

In [11]:
#Exercise 1
print(min (2, 3, 4,))
print(max (2, -3, 4, 7, -5))
print(max (2, -3, min(4, 7), -5))

2
7
4

In [16]:
#Exercise 2
import math

def The_Sum(Number1, Number2, Number3):
  return Number1 + Number2 + Number3
def The_Average(Number1, Number2, Number3):
  return (Number1 + Number2 + Number3)/3
def The_SumSquare(Number1, Number2, Number3):
  return math.pow(Number1,2) + math.pow(Number2,2) + math.pow(Number3,2)

Number1 = int(input())
Number2 = int(input())
Number3 = int(input())

print("The Sum: ",The_Sum(Number1, Number2, Number3))
print("The Average: ",The_Average(Number1, Number2, Number3))
print("Sum of Squares: ", The_SumSquare(Number1, Number2, Number3))

22
23
22
The Sum:  67
The Average:  22.333333333333332
Sum of Squares:  1497.0